<div>
  <h4>using watchquery</h4>
  <div *ngIf="loading">Loading...</div>
<div *ngIf="error">Error :</div>
<div *ngIf="rates">
  <div *ngFor="let rate of rates">
    <p>{{ rate.currency }}: {{ rate.rate }}</p>
  </div>
</div>
</div>


<hr>
<br>
<br>
<div>
  <h4>using query retrive data by id</h4>
  <label for="postId">Enter Post ID:</label>
  <input type="text" id="postId" [(ngModel)]="postId" />
  <button (click)="fetchPost(postId)">Fetch Post</button>
</div>
<hr>
<br>
<br>

<div>
  <h4>using mutation add data  ang get tatal array</h4>

  <label for="postId">Enter title:</label>
  <input type="text" id="postId" [(ngModel)]="title1" />
  <label for="postId">Enter content:</label>
  <input type="text" id="postId" [(ngModel)]="content" />
  <label for="postId">Enter author:</label>
  <input type="text" id="postId" [(ngModel)]="author" />
  <button (click)="onSubmit(title1,content,author)">submit</button>
</div>
<hr>
<br>
<br>

<h4>get all data in array</h4>
<button (click)="getalldata()">getalldata</button>

<hr>
<br>
<br>
<h4>delete data by id</h4>
<input type="text" id="postId1" [(ngModel)]="postId1" />

<button (click)="deletePostById()">DETELE DATA BY ID  </button>
<hr>
<br><br><h4>add subscibtion id new data add to array</h4>
<button (click)="subscribeToPostAdded()">subscibe  </button>


